.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}
button{
    background-color: #FF5A5F;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
button:hover{
    opacity: 0.9;
}
.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    float: left;
}
.amenities{
    text-align: left;
    align-content: flex-start;
    height: 100%;
    width: 25%;
    float: left;
}
h3{
    margin: 0;
    padding: 0px;
    font-weight: 600;
    margin: 0px;
}
h4{
    margin: 0;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
}
